{% extends 'chat/index.html' %}
{% load static %} 
{% block body %}
<nav class="blue lighten-1">
    <div class="nav-wrapper container">
      <a href="{% url 'chats' %}" class="brand-logo">Chat Application</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'suggested_friends' %}" class="nav-link">Suggested Friends</a></li>
          <li><a href="#" class="nav-link">{{ request.user.username }}</a></li>
          <li><a href="{% url 'logout' %}" class="btn-floating waves-effect waves-light red" title="Logout"><i class="material-icons">power_settings_new</i></a></li>
      </ul>
    </div>
</nav>
<div class="section">
    <div class="row">
        <div class="col s3">
        <div class="card">
            <div class="collection user-list">
                {% for user in users %}
                <a href="{% url 'chat' request.user.id user.id %}" id="user{{ user.id }}" class="collection-item row user-item">
                    <img src="{% static 'images/user.png' %}" class="col s4 user-avatar">

                    <div class="col s8">
                    <span class="title user-name">{{ user.username }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        </div>
        <div class="col s9">
            <div class="card">
            <div id="board" class="section blue lighten-5 message-list" style="overflow-y: scroll">
                {% block messages %}

                {% endblock %}
            </div>
            <form id="chat-box" class="message-form {% block hide %}hide{% endblock %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col s11">
                        <div class="input-field">
                            <input id="id_message" name="message" type="text" placeholder="Type your message.." class="message-input">
                        </div>
                    </div>
                    <div class="col s1" style="line-height: 80px">
                        <button class="btn btn-floating blue lighten-2 waves-effect waves-light btn-send"><i class="material-icons">send</i></button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'js/chat.js' %}"></script>
<script>
    // For receiving
    var chat_sender_id = "{{ receiver.id }}"; // The user being chatted with (ID)
    var chat_receiver_id = "{{ request.user.id }}"; // The current logged-in user (ID)
    var current_username = "{{ request.user.username }}"; // Current logged-in user's username
    var chat_with_username = "{{ receiver.username }}"; // Username of the person being chatted with

    //For sending
    $(function () {
        scrolltoend(); // Initial scroll to end of messages
        $('#chat-box').on('submit', function (event) {
            event.preventDefault();
            var message_input = $('#id_message');
            // Call the global send function from chat.js
            // It expects: send(current_user_username, other_user_username, message_text)
            send(current_username, chat_with_username, message_input.val());
            // message_input.val(''); // Clearing is now done inside send() on success
        });

        // Call receive function periodically if IDs are set (i.e., a chat is active)
        if (typeof chat_sender_id !== 'undefined' && chat_sender_id && typeof chat_receiver_id !== 'undefined' && chat_receiver_id) {
            setInterval(receive, 1000); // Poll every 1 second
        }
    });
</script>
{% endblock %}
