{% extends 'chat/chat.html' %}
{% block hide %}{% endblock %}
{% block messages %}
    {% for message in messages %}
    {% if message.sender == request.user %}
<div class="message message-sent">
    <div class="title message-sender">You</div>
    {{ message.message }}
    <div class="message-timestamp">{{ message.timestamp|date:"H:i" }}</div>
</div>
    {% else %}
<div class="message message-received">
    <div class="title message-sender">{{ message.sender.username }}</div>
    {{ message.message }}
    <div class="message-timestamp">{{ message.timestamp|date:"H:i" }}</div>
</div>
    {% endif %}
    {% endfor %}
<script>
$(function () {
    $('#user{{ receiver.id }}').addClass('active');
    //Call receive function each 1 seconds to check for new messages in the database
    setInterval(receive,1000)
})
</script>
{% endblock %}
